@font-face {
    font-family: 'Geomanist';
    src: url('../fonts/Geomanist-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/Geomanist-Regular.otf')  format('opentype'),
         url('../fonts/Geomanist-Regular.woff') format('woff'), url('../fonts/Geomanist-Regular.ttf')  format('truetype'), url('../fonts/Geomanist-Regular.svg#Geomanist-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Geomanist';
    src: url('../fonts/Geomanist-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/Geomanist-Bold.otf')  format('opentype'),
         url('../fonts/Geomanist-Bold.woff') format('woff'), url('../fonts/Geomanist-Bold.ttf')  format('truetype'), url('../fonts/Geomanist-Bold.svg#Geomanist-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
}


@font-face {
  font-family: 'GiorgioSans';
  src: url('../fonts/GiorgioSans-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/GiorgioSans-Regular.otf')  format('opentype'),
	     url('../fonts/GiorgioSans-Regular.woff') format('woff'), url('../fonts/GiorgioSans-Regular.ttf')  format('truetype'), url('../fonts/GiorgioSans-Regular.svg#GiorgioSans-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GiorgioSans';
  src: url('../fonts/GiorgioSans-Medium.eot?#iefix') format('embedded-opentype'),  url('../fonts/GiorgioSans-Medium.otf')  format('opentype'),
	     url('../fonts/GiorgioSans-Medium.woff') format('woff'), url('../fonts/GiorgioSans-Medium.ttf')  format('truetype'), url('../fonts/GiorgioSans-Medium.svg#GiorgioSans-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'GiorgioSans';
  src: url('../fonts/GiorgioSans-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/GiorgioSans-Bold.otf')  format('opentype'),
	     url('../fonts/GiorgioSans-Bold.woff') format('woff'), url('../fonts/GiorgioSans-Bold.ttf')  format('truetype'), url('../fonts/GiorgioSans-Bold.svg#GiorgioSans-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeueLTPro-Th.eot?#iefix') format('embedded-opentype'),  url('../fonts/HelveticaNeueLTPro-Th.otf')  format('opentype'),
	     url('../fonts/HelveticaNeueLTPro-Th.woff') format('woff'), url('../fonts/HelveticaNeueLTPro-Th.ttf')  format('truetype'), url('../fonts/HelveticaNeueLTPro-Th.svg#HelveticaNeueLTPro-Th') format('svg');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeueLTPro-Lt.eot?#iefix') format('embedded-opentype'),  url('../fonts/HelveticaNeueLTPro-Lt.otf')  format('opentype'),
	     url('../fonts/HelveticaNeueLTPro-Lt.woff') format('woff'), url('../fonts/HelveticaNeueLTPro-Lt.ttf')  format('truetype'), url('../fonts/HelveticaNeueLTPro-Lt.svg#HelveticaNeueLTPro-Lt') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeueLTPro-Bd.eot?#iefix') format('embedded-opentype'),  url('../fonts/HelveticaNeueLTPro-Bd.otf')  format('opentype'),
	     url('../fonts/HelveticaNeueLTPro-Bd.woff') format('woff'), url('../fonts/HelveticaNeueLTPro-Bd.ttf')  format('truetype'), url('../fonts/HelveticaNeueLTPro-Bd.svg#HelveticaNeueLTPro-Bd') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/Oswald-Light.woff') format('woff'), url('../fonts/Oswald-Light.ttf')  format('truetype'), url('../fonts/Oswald-Light.svg#Oswald-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}
