/*
!.gitignore
!Meds
!User/
User/*
!User/Http/
User/Http/*
!User/Http/Controllers/
User/Http/Controllers/*
!User/Http/Controllers/AuthController.php
!User/Resources/
User/Resources/*
!User/Resources/views/
User/Resources/views/*
!User/Resources/views/public/
User/Resources/views/public/*
!User/Resources/views/public/login.blade.php